In [1]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_excel(r'C:\Users\HP\Downloads\price_data.xlsx')

In [11]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

In [13]:
df.head()

,Date,Hour,SessionID,Time Block,Unnamed: 4,A1,A2,E1,E2,N1,N2,N3,S1,S2,S3,W1,W2,W3,MCP
0,28-10-2021,1.0,1.0,00:00 - 00:15,NaN,2470.86,2470.86,2470.86,2470.86,2470.86,2470.86,2470.86,2470.86,2470.86,2470.86,2470.86,2470.86,2470.86,2470.86
1,NaN,NaN,NaN,00:15 - 00:30,NaN,2470.33,2470.33,2470.33,2470.33,2470.33,2470.33,2470.33,2470.33,2470.33,2470.33,2470.33,2470.33,2470.33,2470.33
2,NaN,NaN,2.0,00:30 - 00:45,NaN,2600.63,2600.63,2600.63,2600.63,2600.63,2600.63,2600.63,2600.63,2600.63,2600.63,2600.63,2600.63,2600.63,2600.63
3,NaN,NaN,NaN,00:45 - 01:00,NaN,2600.22,2600.22,2600.22,2600.22,2600.22,2600.22,2600.22,2600.22,2600.22,2600.22,2600.22,2600.22,2600.22,2600.22
4,NaN,2.0,3.0,01:00 - 01:15,NaN,2500.98,2500.98,2500.98,2500.98,2500.98,2500.98,2500.98,2500.98,2500.98,2500.98,2500.98,2500.98,2500.98,2500.98

In [14]:
df_new = df[['Date','Hour','MCP']]

In [15]:
df_new.head()

         Date  Hour      MCP
0  28-10-2021   1.0  2470.86
1         NaN   NaN  2470.33
2         NaN   NaN  2600.63
3         NaN   NaN  2600.22
4         NaN   2.0  2500.98

In [17]:
df_new1 = df_new.groupby(['Date','Hour']).mean()

In [18]:
df_new1.head()

                     MCP
Date       Hour
01-11-2021 1.0   2500.48
02-11-2021 1.0   1769.82
03-11-2021 1.0   1505.14
04-11-2021 1.0   3479.51
05-11-2021 1.0   1680.87

In [28]:
df_new1.columns

Index(['MCP'], dtype='object')

In [27]:
df_new1['Hour'].unique

KeyError: 'Hour'